:root {
  --second-bg-color: #242c2e;
  --main-bg-color: #67738b;

  --content-padding: calc(0.5rem + 0.5vh);

  --section-padding: clamp(1rem, calc(1.5rem + 1vw), 3vw);
  --section-gap: calc(3rem + 0.5vh);
  --section-item-gap: calc(1rem + 0.5vw);

  --btn-min-w: calc(2rem + 1vw);

  --rupert-width: 192px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  min-height: 100vh;
  font-size: calc(0.75rem + 1vw);
  background-color: var(--second-bg-color);
  color: white;
}

main {
  grid-area: 2 / 2;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 0.5rem;
}

header {
  grid-column: span 3;
  display: grid;
  align-self: center;
  justify-self: center;
  padding: var(--section-item-gap);
}

.track {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.track img {
  animation: marquee 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
  width: var(--rupert-width);
  height: auto;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

aside {
  grid-area: 2 / 3; 
  justify-self: center;
  align-self: end;
}

aside button {
  position: fixed;
  bottom: 15%;
  transform: translate(-50%, -50%);
}

form {
  display: grid;
  gap: var(--section-item-gap);
}

.form-section {
  display: flex;
  gap: var(--content-padding);
}

.form-section:not(:last-of-type) {
  flex-direction: column;
}

.form-section:last-of-type {
  justify-content: space-between;
}

hr {
  padding-bottom: calc(var(--content-padding) / 2);
  border-bottom: 1px dashed black;
}

input[type="checkbox"] {
  min-width: var(--section-padding);
}

fieldset,
input,
.button {
  border: 1px solid black;
  padding: var(--content-padding);
}

input {
  font-size: inherit;
}

.filled {
  background-color: #3394c1;
  color: #fff2f6;
}

.bold {
  font-weight: 700;
}

.button {
  border-radius: 0.5rem;
  font-size: inherit;
  cursor: pointer;
}

form {
  background-color: white;
  padding: var(--section-padding);
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.5);
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
