:root {
  --second-bg-color: #242c2e;
  --main-bg-color: #67738b;
  --form-main-bg-color: #ffffff;
  --form-second-bg-color: #bebcbc;
  --form-darker-bg-color: #4e6070;

  --content-padding: calc(0.5rem + 0.5vh);
  --form-padding: calc(0.1rem + 0.1vw);

  --section-padding: clamp(1rem, calc(1.5rem + 1vw), 3vw);
  --section-gap: calc(3rem + 0.5vh);
  --section-item-gap: calc(1rem + 0.5vw);

  --btn-min-w: calc(2rem + 1vw);

  --rupert-width: 192px;

  --main-font-size: calc(0.75rem + 1vw)
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "MS Sans Serif", Tahoma, Helvetica, Arial, sans-serif;
}

body {
  font-size: var(--main-font-size);
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  min-height: 100vh;
  background-color: var(--second-bg-color);
  color: var(--form-main-bg-color);
}

main {
  grid-area: 2 / 2;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

header {
  grid-column: span 3;
  display: grid;
  align-self: center;
  justify-self: center;
  padding: var(--section-item-gap);
}

.track {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.track img {
  animation: marquee 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
  width: var(--rupert-width);
  height: auto;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

aside {
  grid-area: 2 / 3; 
  justify-self: center;
  align-self: end;
}

aside button {
  position: fixed;
  bottom: 15%;
  transform: translate(-50%, -50%);
}

form {
  display: grid;
  color: var(--second-bg-color);
  background-color: var(--form-second-bg-color);
  border-top: 2px solid var(--form-main-bg-color);
  border-left: 2px solid var(--form-main-bg-color);
  border-right: 4px groove var(--second-bg-color);
  border-bottom: 4px groove var(--second-bg-color);
}

.section-wrapper {
  display: grid;
  margin: 0 var(--section-padding);
  padding: var(--section-padding);
  background: var(--form-main-bg-color);
  border: 4px groove var(--form-second-bg-color);
  gap: var(--section-item-gap);
}

.form-header {
  background-color: var(--form-darker-bg-color);
  margin: var(--form-padding) var(--form-padding) var(--section-padding) var(--form-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(var(--main-font-size) * 0.75);
  color: var(--form-main-bg-color);
  padding: var(--form-padding); 
}

.form-footer {
  padding: var(--section-padding);
  display: flex;
  justify-content: flex-end;
}

.form-section {
  display: flex;
  gap: var(--content-padding);
}

.form-section:not(:last-of-type) {
  flex-direction: column;
}

.form-section:last-of-type {
  justify-content: space-between;
}

input[type="checkbox"] {
  min-width: var(--section-padding);
}

input,
.btn {
  border: 1px groove var(--second-bg-color);
  padding: var(--content-padding);
}

input {
  font-size: inherit;
}

.accent-btn{
  background-color: #3394c1;
  color: #fff2f6;
}

.bold {
  font-weight: 700;
}

.rounded {
  border-radius: 0.5rem;
}

.form-btn {
  background-color: var(--form-second-bg-color);
}

.btn {
  font-size: inherit;
  cursor: pointer;
}

.form-footer button {
  border-bottom: 3px groove var(--second-bg-color);
  border-right: 3px groove var(--second-bg-color);
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.5);
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
}
